<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1>New quote</h1>
    </div>

    <%= render "form", quote: @quote %>
  <% end %>
</main>
